body{
    margin: 0;
    background: rgba(0, 0, 0, 0.5) url('https://images.pexels.com/photos/3104/black-and-white-music-headphones-life.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size:cover;
    background-blend-mode: darken;
}

/* Top Section */

.title-sec{
    color: white;
    text-align: center;
    padding: 0 15%;
    font-family: 'Gloria Hallelujah', cursive;
}

h1{ 
    font-size:50px;
    margin-bottom: 0;
}
p{
    margin-top: 0;
    font-size: 24px;
}

/* Body Section */

.body-sec{
    padding-top: 50px;
    padding-bottom: 170px;
    text-align: center;
}

.drum{
    color: rgb(0, 0, 0);
    width: 110px;
    padding: 30px;
    outline:none;
    border: 5px solid rgb(49, 44, 49);
    border-radius: 24px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    background-color: rgb(161, 156, 156);
    display: inline-block;
    
}
 
.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;    
    animation-name: phone;
    animation-duration: 0.1s;
}
    @keyframes phone {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    } 
    }

/* Footer Section */

footer p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 16px;
    text-align: center;
}

@media (max-width:992px) {
 
    .title-sec{
        padding: 0 10%;        
    }
    
    h1{
        font-size:35px;
        margin-bottom: 0;
    }
    p{
        margin-top: 0;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .drum{
        width: 100px;
    }
    .body-sec{
        padding-top: 50px;
        padding-bottom: 70px;
        text-align: center;
    }

}
